.wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleMarvel {
  margin: 2%;
}

.cardMarvel {
  width: 200px;
  height: 100%;
  border: 1px solid #000;
  margin: 10px;
}

#buttonRemove {
  float: right;
}

.buttonRemove {
  border: 1px solid rgb(201, 199, 199);
  background-color:  rgb(255, 255, 255);
  color: rgb(216, 56, 56);
  border-radius: 20%;
}

.imageMarvel{
  display: block;
  min-width: 200;
  min-height: 200;
  max-width: 150px;
  max-height: 200px;
  border-radius: 50%;
}

#mainCard {
  border: 1px solid #000;
  margin: 50px;
}

.titleDetails {
  text-align: center;
  margin: 20px;
}

.buttonPageInitial {
  padding: 10px;
  margin: 4px;
  border: rgb(41, 42, 43);
  color: #000;
}

.dataDetails {
  border: rgb(0, 0, 0);
  padding: 0 2rem;
}


.buttonSearch {
  padding: 1%;
  color: rgb(0, 0, 0);
  background-color:  rgb(255, 255, 255);
  border-radius: 10%;
}
