.wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  justify-content: center;
}
 .logo_img {
  width: 150px;
  margin: 5px;
 }

.cardMarvel {
  position: block;
  width: 220px;
  height: 250px;
  margin-left: 5px;
  margin-right: 5px;

}

.card-title {
  font-size: 15px;
}
.center {
  display: flex;
  justify-content: center;
}

.buttonRemove {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  width: 85%;
  border-radius: 10px;
  color: #4d4d4d;
  background-color: #bcbcbc;
  z-index: 4;
}

.imageMarvel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.personName {
  font-family: Arial;
  text-align: center;
}

.inputOfTheSearch {
  position: relative;
  padding: 1%;
  width: 25%;
  margin: 1%;
}

#mainCard {
  border: 1px solid #000;
  margin: 10px;
}

.titleDetails {
  text-align: center;
}

.buttonPageInitial {
  padding: 4px;
  margin: 4px;
  background-color: aliceblue;
  border: aliceblue;
  color: #000;
  cursor: pointer;
}

.dataDetails {
  padding: 0 2rem;
}
